@keyframes heartbeat {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  to {
    transform: scale(1);
  }
}

@keyframes steps {
  from {
    transform: rotate(0);
  }
  50% {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes shake {
  from {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(0);
  }
}
