@media (max-width: 1200px) {
  //992
  .carousel {
    .owl-carousel {
      .owl-nav {
        .owl-prev {
          left: 30%;
          top: 110%;
        }
        .owl-next {
          right: 30%;
          top: 110%;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  //768
  .promo {
    padding: 21px 16px 93px;
    &__wrapper {
      align-items: center;
    }
  }
  .header > * {
    width: 33%;
  }
  .benefit {
    &__items {
      width: 100%;
    }
    &__item {
      margin: 0 16px;
    }
  }
  .consultation {
    .container {
      padding: 0 16px;
    }
  }
  .rewiev-item {
    padding: 60px 16px 0;
    &__photo {
      width: 20%;
      max-width: 169px;
      margin-right: 40px;
    }
  }
  .footer {
    &__info {
      width: 400px;
      height: 200px;
      padding: 30px 40px 36px;
    }
    &__addr {
      margin-bottom: 18px;
    }
    &__phone {
      margin-bottom: 18px;
    }
  }
}

@media (max-width: 767px) {
  //576
  .header {
    &__official {
      display: none;
    }
  }
  .benefit {
    &__items {
      flex-wrap: wrap;
    }
    &__items > *:nth-child(3) {
      margin-bottom: 0;
    }
    &__item {
      width: 100%;
      margin-bottom: 30px;
    }
    &__icon {
      margin-bottom: 20px;
    }
    &__title {
      margin-bottom: 15px;
    }
  }
  .carousel {
    .owl-carousel {
      .owl-item {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .catalog {
    &__tab {
      width: 170px;
    }
  }
}

@media (max-width: 575px) {
  //375
  .promo {
    padding: 15px 16px 66px;
    &__wrapper {
      margin-top: 50px;
    }
    &__header {
      line-height: 42px;
      text-align: center;
    }
    &__subheader {
      text-align: center;
      margin-top: 10px;
    }
    &__icons {
      width: 365px;
      margin-top: 35px;
    }
  }
  .header {
    flex-direction: column;
    & > div {
      width: 80%;
    }
    &__contacts {
      align-items: center;
      margin-top: 10px;
      button {
        display: none;
      }
    }
    &__logo {
      display: block;
      margin: 0 auto;
    }
  }
  .consultation {
    padding: 70px 0 65px;
    br {
      display: none;
    }
    &__descr {
      text-align: center;
    }
  }
  .section-header_left {
    text-align: center;
  }
  .feed-form {
    width: 100%;
  }
  .catalog {
    &__tabs {
      flex-direction: column;
      align-items: center;
    }
    &__tab {
      width: 222px;
      margin-bottom: 7px;
    }
    &__content {
      margin-top: 37px;
    }
  }
  .rewiev-item {
    padding-top: 45px;
    &__photo {
      margin-right: 10px;
    }
  }
  .footer {
    &__info {
      width: 100%;
    }
  }
  .modal {
    &__close {
      top: 8px;
      right: 16px;
    }
  }
}
